<h1>Navigation</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eaque laudantium adipisci fugit doloribus ex
    sapiente molestiae voluptatibus ratione officiis, fugiat, eius qui quis deserunt nesciunt quidem blanditiis
    similique porro.</p>

<h1>Footer</h1>